<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
  <servlet>
    <servlet-name>controller</servlet-name>
    <servlet-class>test.ProductsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
</web-app>